<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to the user</h1>
    <p><b>ID:</b> <%= user.id %></p>
    <p><b>Name:</b> <%= user.id %></p>
    <p><b>email:</b> <%= user.email %></p>
    <p><b>stack:</b> <%= user.stack %></p>
    <u><b>hobby:</b></u>
    <% user.hobby.forEach(hobby=>{%>
    <li><%= hobby %></li>
    <%})%>
  </body>
</html>
